body{

    margin: 0;
}

header{

    background-color: white;
    margin-bottom: 10px;

    img{

        width: 60%;
        display: block;
        margin: auto;
        margin-top: 20px;

        @media (min-width: 767.98px){
            width: 20%;
        }
    }
}

footer{

    background-color: black;
    color: white;

    div{

        display: flex;
        flex-direction: column;
        margin: 10px;

        @media (min-width: 767.98px){
            flex-direction: row-reverse;
            padding-bottom: 5px;
        } 
    }

    a{

        color: white;
        text-decoration: none;
        font-family: 'Roboto';
        height: 30px;

        @media (min-width: 767.98px){
            font-size: 15px;
            width: fit-content;
        } 
    }

    h3{

        font-family: 'Shrikhand';
        font-size: 18px;
        font-weight: 100;

        @media (min-width: 767.98px){
            padding-top: 37px;
            margin: 0px;
            padding-right: 20px;
        } 
    }

    i{

        margin-right: 10px;
        width: 15px;
        font-weight: 600;
        height: 30px;
    }

    .link-footer{
        @media (min-width: 767.98px){
            flex-direction: row;
            padding-top: 40px;
            margin: 0px;
            width: 60%;
            gap: 45px;
        } 
    }
}

