header{

    background-color: white;
    margin-bottom: 10px;

    img{

        width: 70%;
        display: block;
        margin: auto;
    }
}

footer{

    background-color: black;
    color: white;

    div{

        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    a{

        color: white;
        text-decoration: none;
        font-family: 'Roboto';
    }

    h3{

        font-family: 'Shirkhand';
        font-size: 18px;
    }

    i{

        margin-right: 10px;
    }
}
