.locationbar {
  background-color: #eaeaea;
  text-align: center;
  margin: 5px;
  font-size: 20px;
  font-family: roboto;
  width: 100%;
}
@media (min-width: 767.98px) {
  .locationbar {
    margin-top: 20px;
  }
}
.locationbar .icone-localisation {
  padding-right: 10px;
}

.explore-restaurants {
  background-color: #F6F6F6;
  padding-bottom: 20px;
}
.explore-restaurants h2 {
  font-size: 23px;
  text-align: center;
}
@media (min-width: 767.98px) {
  .explore-restaurants h2 {
    font-size: 40px;
  }
}
.explore-restaurants p {
  font-size: 17px;
  text-align: center;
}
.explore-restaurants button {
  display: block;
  margin: auto;
  border-radius: 30px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  color: white;
  border: none;
  font-size: 18px;
  padding: 15px;
}
@media (min-width: 767.98px) {
  .explore-restaurants button {
    margin-top: 20px;
  }
}
.explore-restaurants button:hover {
  opacity: 50%;
}

.functioning {
  background-color: white;
}
@media (min-width: 767.98px) {
  .functioning {
    margin-left: 250px;
    width: 100%;
  }
}
.functioning .card {
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(Opx 3px 15px rgba(0, 0, 0, 0.1));
  margin: 15px;
}
@media (min-width: 767.98px) {
  .functioning .card {
    padding-right: 30px;
  }
}

@media (min-width: 767.98px) {
  .card-functioning {
    display: flex;
    flex-direction: row;
  }
}

.card-content {
  display: flex;
  flex-direction: row;
}
.card-content i {
  padding-right: 10px;
  align-self: center;
  padding-left: 20px;
  color: gray;
}
.card-content .icone-store {
  color: #9356DC;
}
.card-content span {
  font-size: 15px;
  font-weight: bold;
  background-color: #9356DC;
  color: white;
  border-radius: 20px;
  padding: 5px;
  position: absolute;
  padding-left: 7px;
  padding-right: 7px;
}
.card-content div {
  margin: -16px;
  align-self: center;
  margin-right: 24px;
  margin-top: -40px;
}

.restaurant {
  background-color: #F6F6F6;
  width: 100%;
}
.restaurant .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-bottom: 15px;
  line-height: 0px;
}
.restaurant img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  height: 180px;
}
.restaurant .card-txt {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.restaurant i {
  align-self: flex-end;
  position: relative;
  top: 40px;
  right: 40px;
  font-size: 28px;
}
.restaurant .card-img .tag {
  position: absolute;
  background-color: #99E2D0;
  border: solid 16px #99E2D0;
  color: #008766;
  right: 15px;
  border-radius: 2px;
}
.restaurant a {
  text-decoration: none;
  color: black;
}
@media (min-width: 767.98px) {
  .restaurant a {
    width: 45%;
  }
}
@media (min-width: 767.98px) {
  .restaurant h2 {
    margin-left: 70px;
    padding-top: 30px;
  }
}
@media (min-width: 767.98px) {
  .restaurant .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
  }
}/*# sourceMappingURL=accueil.css.map */